.item {
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    border-radius: 10px;

    padding: 10px 20px;

    transition: background-color .3s ease;

    &.selected {
        background-color: var(--btn-color-active);
    }
}

.per_month {

    span {}
}

.name {
    font-size: var(--fz-big);
    font-weight: 700;
    margin-bottom: 5px;
}

.money {
    font-size: var(--fz-big);
    font-weight: 800;
}