.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: 200px;
    overflow: hidden;

    height: 50px;
    width: 80%;

    &::after {
        content: '';

        position: absolute;

        height: 60%;
        width: 2px;

        background-color: var(--semi-transparent-color);
    }
}