.item{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
    border-radius: 10px;
}

.info_wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 10px;
}

.name{
    font-size: var(--fz-big);
    font-weight: 700;
    margin-bottom: 5px;
}

.purpose{
    font-size: var(--fz-normal);
    font-weight: normal;
}

.money{
    font-size: var(--fz-big);
    font-weight: 800;
}