header {
    position: relative;

    height: var(--header-h);
    width: 100%;
    padding: 0 20px;

    user-select: none;
    white-space: nowrap;
}

.logout{
    &.name p{
        color: var(--color);
    }

    &.login{
        margin: 0 10px;
    }
}

.login {
    all: unset;

    cursor: pointer;
    z-index: inherit;    

    border-radius: var(--small-border-radius);
    padding: 10px 20px;
    background-color: var(--btn-color);
    margin-left: auto;
    white-space: nowrap;
}

.header_inner {
    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    padding: var(--header-padding);
    height: var(--header-h);
    border-radius: var(--main-border-radius);

    background-color: var(--color-main);

    .user {
        max-height: 100%;
        border-radius: 50%;
    }
}

.name {
    margin-left: 15px;

    p {
        color: var(--semi-transparent-color);
        font-size: var(--fz-normal);
    }

    h2 {
        font-size: var(--fz-big);
    }
}