.button {
    height: 100%;
    width: 100%;
    justify-content: center;

    border-radius: 0;
    gap: 10px;
    font-size: var(--fz-normal);
    color: var(--color);
    background-color: var(--btn-color);

    display: flex;
    align-items: center;

    &:active{
        background-color: var(--btn-color-active);
    }
}