button {
    position: relative;
    aspect-ratio: 1;
    height: 100%;
    user-select: none;

    background-color: transparent;

    padding: 5px;
    border-radius: var(--small-border-radius);

    transition: all .06s ease-out;
    transition: background-color .3s ease;

    img {
        max-height: 100%;
        max-width: 100%;
    }

    &:hover {
        background-color: var(--btn-color-hover);
    }

    &:active {
        background-color: var(--btn-color-active);
    }

    &.selected {
        background-color: var(--btn-color-active);
    }
}