.history {
    overflow-y: scroll;
    height: 100%;
    padding-right: 10px;
    margin-right: -10px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        transition: all .3s;
    }

    &::-webkit-scrollbar-thumb {
        transition: all .3s;
        width: 1px;
        border-radius: 8px;
        background: #615d5d;
        background-clip: content-box;
    }
}